/* /=============== GOOGLE FONTS ===============/ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


:root {
    --first-color: hsl(222, 80%, 58%);
    --dark-color: hsl(222, 24%, 8%);
    --title-color: hsl(222, 8%, 8%);
    --text-color-light: hsl(222, 8%, 65%);
    --white-color: #fff;
    --body-color: hsl(222, 100%, 99%);
    --body-font: "Poppins", sans-serif;
    --small-font-size: .813rem;
}



@media screen and (min-width: 968px) {
    :root {
        --small-font-size: .875rem;
    }
}

/* /=============== BASE ===============/ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-color);
}

/* /=============== SEARCH ===============/ */
.container {
    height: 65vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.search {
    position: relative;
    width: 76px;
    height: 76px;
    background-color: var(--white-color);
    box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
    border-radius: 4rem;
    padding: 10px;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__input {
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
}

.search__input:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--white-color) inset;
}

.search__button {
    width: 56px;
    height: 56px;
    background-color: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search_icon,
.search_close {
    color: var(--white-color);
    font-size: 1.5rem;
    position: absolute;
    transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__close {
    opacity: 0;
}

/* Search animated */
.show-search {
    width: 100%;
}

.show-search .search__input {
    opacity: 1;
    pointer-events: initial;
}

.show-search .search__button {
    transform: rotate(90deg);
}

.show-search .search__icon {
    opacity: 0;
}

.show-search .search__close {
    opacity: 1;
}

/* /=============== BREAKPOINTS ===============/ */
/* For medium devices */
@media screen and (min-width: 576px) {
    .show-search {
        width: 450px;
    }
}
/* /=============== moveup ===============/ */


.container:hover {
    transform: translateY(-80px);
    transition: 0.3s ease;
}

/* /=============== store-detail ===============/ */

.store-detail {



    gap: 1rem;
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 20px;

    box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
    transition: transform 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
    max-width: 1000px;
    display: flex;


    margin: 9px;

}

.store-detail-1 {

    box-sizing: border-box;


    gap: 1rem;
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 20px;

    box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
    transition: transform 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
    max-width: 600px;
    margin: 5px;



}

.store-detail {
    display: flex;
    justify-content: center;
}

.store-detail-2 {
    height: 165px;
}

.store-detail-3 {
    height: 100px;
}

#head {
    font-size: 65px;
    font-family: "Poppins", sans-serif;
    overflow: none;


}

/* /=============== store-detail----ID ===============/ */

#papa {
    padding-bottom: 5px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

#head5 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

/* /=============== media query ===============/ */

@media only screen and (max-width: 845px) {


    .store-detail {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


}


@media only screen and (max-width: 414px) {



    .container:hover {
        transform: translateY(-30px);
        transition: 0.3s ease;
    }


    .container {
        height: 20vh;
        margin-inline: 1.5rem;
        display: grid;
        place-items: center;
    }


    #head {
        font-size: 45px;
        font-family: "Poppins", sans-serif;
        overflow: none;


    }

    #papa {
        padding-bottom: 5px;
        font-size: 30px;
        font-family: "Poppins", sans-serif;
    }

    #head5 {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
    }

}